In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import libraries
import xlrd
import pandas              as pd # The gold standard of Python data analysis, to create and manipulate tables of data
import numpy               as np # The Python module for processing arrays which/Pandas is based on
import matplotlib.pyplot   as plt # The gold standard of Python data visualization, but can be complex to use
import seaborn             as sns; sns.set() # A package to make Matplotlib visualizations more aesthetic

In [73]:
#import datasets
#dataset demand by operators 2008 - 2018 hourly
demand_oper = pd.DataFrame()

for y in range(2008,2019):
    data = pd.read_excel('./Demanda_por_OR/Demanda_por_OR_'+ str(y) +'.xlsx')
    data.columns = data.iloc[1]
    data = data[2:data.size]
    data['Fecha'] = pd.to_datetime(data ['Fecha'])
    #data.drop(data.index[0:3])
    demand_oper = demand_oper.append (data)

In [74]:
demand_oper.head()

1,Fecha,Código Distribuidor,0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,Version
2,2008-01-01,CASD,25394,23513.74,21590.57,20233.19,19279.27,18085.31,15390.91,15857.73,...,16618.90,17642.84,18479.80,28892.36,30417.69,27600.27,23546.60,20466.65,18537.40,TX3
3,2008-01-01,CDID,92472.2,79428.99,66838.26,61252.91,66764.63,51111.89,55013.05,55510.96,...,56559.67,60358.60,65484.99,97254.41,114836.50,96810.68,82759.47,67704.32,56172.21,TX3
4,2008-01-01,CDND,110217,96997.90,85513.98,76695.12,68632.80,63993.27,63376.81,68914.01,...,71993.29,75980.64,81594.39,116577.81,135484.93,118620.04,95238.08,71879.01,56646.26,TX3
5,2008-01-01,CDSD,1.05208e+06,937741.12,839761.03,768410.49,729729.89,690145.48,601800.07,610233.09,...,759952.04,747895.53,798090.87,1101568.51,1220827.69,1164441.21,1034455.25,899988.20,792441.00,TX3
6,2008-01-01,CETD,23960.1,21978.71,19070.08,16724.06,16080.03,14843.16,11928.88,11731.06,...,15772.90,15743.12,16821.13,24206.79,26842.51,25446.67,22751.49,19541.18,16264.18,TX3

In [75]:
# Dataset operators and their areas
oper_area_df = pd.read_excel('Operator_Area.xlsx')

In [76]:
oper_area_df.head()

  Operator   Region
0     CASD  Oriente
1     CDID      Sur
2     CDND      Sur
3     CDSD   Centro
4     CEOD      Sur

In [77]:
demand_oper_area_df = pd.DataFrame ()
demand_oper_area_df = pd.merge(demand_oper, oper_area_df, how="left", left_on="Código Distribuidor", right_on="Operator").drop(columns=['Operator','Código Distribuidor','Version'])
demand_oper_area_df['Demand'] = demand_oper_area_df.iloc[:,1:24].sum(axis=1)
#demand_oper_area_df.sort_values(by=['Fecha'])
demand_oper_area_df.head()

,Fecha,0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,Region,Demand
0,2008-01-01,25394,23513.74,21590.57,20233.19,19279.27,18085.31,15390.91,15857.73,16827.59,...,17642.84,18479.80,28892.36,30417.69,27600.27,23546.60,20466.65,18537.40,Oriente,464295.24
1,2008-01-01,92472.2,79428.99,66838.26,61252.91,66764.63,51111.89,55013.05,55510.96,58671.22,...,60358.60,65484.99,97254.41,114836.50,96810.68,82759.47,67704.32,56172.21,Sur,1619744.87
2,2008-01-01,110217,96997.90,85513.98,76695.12,68632.80,63993.27,63376.81,68914.01,70999.91,...,75980.64,81594.39,116577.81,135484.93,118620.04,95238.08,71879.01,56646.26,Sur,1956403.82
3,2008-01-01,1.05208e+06,937741.12,839761.03,768410.49,729729.89,690145.48,601800.07,610233.09,660411.39,...,747895.53,798090.87,1101568.51,1220827.69,1164441.21,1034455.25,899988.20,792441.00,Centro,19397950.39
4,2008-01-01,23960.1,21978.71,19070.08,16724.06,16080.03,14843.16,11928.88,11731.06,12728.14,...,15743.12,16821.13,24206.79,26842.51,25446.67,22751.49,19541.18,16264.18,Valle,410137.50

In [78]:
demand_sum_df = demand_oper_area_df[['Fecha','Region','Demand']]
demand_sum_df.head()

       Fecha   Region       Demand
0 2008-01-01  Oriente    464295.24
1 2008-01-01      Sur   1619744.87
2 2008-01-01      Sur   1956403.82
3 2008-01-01   Centro  19397950.39
4 2008-01-01    Valle    410137.50

In [79]:
demand_df = demand_sum_df.groupby(['Fecha','Region']).sum()
demand_df.head(50)
demand_df = demand_df.reset_index()
demand_df.set_index(['Fecha'], inplace=True)

In [80]:
# Dataset maximun power daily
mpower_df = pd.DataFrame()
for y in range(2008,2019):
    data = pd.read_excel('./Demanda Potencia/Demanda_Maxima_De_Potencia_'+ str(y) +'.xlsx')
    data.columns = data.iloc[2]
    data = data[3:data.size]
    data['Fecha'] = pd.to_datetime(data ['Fecha'])
    data= data.reset_index()
    data= data[['Fecha','Demanda Máxima de Potenca kW']]
    mpower_df = mpower_df.append (data)
mpower_df.head()

2      Fecha Demanda Máxima de Potenca kW
0 2008-01-01                      6543000
1 2008-01-02                      8042000
2 2008-01-03                      8305000
3 2008-01-04                      8237000
4 2008-01-05                      7865000

In [81]:
mpower_df.shape

(4018, 2)

In [82]:
demand_power_df = pd.DataFrame ()
demand_power_df = pd.merge(demand_df, mpower_df, how="left",left_index = True, right_on="Fecha")#.drop(columns=['Operator','Código Distribuidor','Version'])
demand_power_df = demand_power_df [['Fecha','Region','Demand', 'Demanda Máxima de Potenca kW']]
demand_power_df.columns = ['Date','Region','Energy Demand', 'Maximum demand']
demand_power_df.head()

        Date           Region  Energy Demand Maximum demand
0 2008-01-01        Antioquia    19934753.28        6543000
0 2008-01-01              CQR     4939020.28        6543000
0 2008-01-01           Centro    23350632.27        6543000
0 2008-01-01  Costa Atlantica    23636908.26        6543000
0 2008-01-01          Oriente    10794188.43        6543000

In [83]:
demand_power_df

          Date           Region  Energy Demand Maximum demand
0   2008-01-01        Antioquia    19934753.28        6543000
0   2008-01-01              CQR     4939020.28        6543000
0   2008-01-01           Centro    23350632.27        6543000
0   2008-01-01  Costa Atlantica    23636908.26        6543000
0   2008-01-01          Oriente    10794188.43        6543000
..         ...              ...            ...            ...
364 2018-12-31  Costa Atlantica    39614098.11        8447000
364 2018-12-31          Oriente    17150797.87        8447000
364 2018-12-31              Sur     4809792.14        8447000
364 2018-12-31              THC     7485992.13        8447000
364 2018-12-31            Valle     9540054.31        8447000

[32144 rows x 4 columns]

In [86]:
# Check that daily dates has 8 regions rows
check = (demand_power_df.groupby(['Date']).size() == 8)
 #print ((demand_power_df.groupby(['Date']).size() == 9).to_string())
check = check.to_frame()
check.columns = ['Bool']
check.loc[check['Bool'] == False] #Check if there is a date with a different quantity of regions (!=9)

Empty DataFrame
Columns: [Bool]
Index: []

In [88]:
demand_power_df.to_csv(r'demand.csv')

In [89]:
demand_power_df = pd.read_csv(r'demand.csv')
ens_df=pd.read_csv(r'Blackouts.csv')

In [90]:
demand_power_df.head()

   Unnamed: 0        Date           Region  Energy Demand  Maximum demand
0           0  2008-01-01        Antioquia    19934753.28         6543000
1           0  2008-01-01              CQR     4939020.28         6543000
2           0  2008-01-01           Centro    23350632.27         6543000
3           0  2008-01-01  Costa Atlantica    23636908.26         6543000
4           0  2008-01-01          Oriente    10794188.43         6543000

In [91]:
ens_df.head()

         Date             Área    MWh
0  2008-01-01              THC  13.76
1  2008-01-01              Sur  12.90
2  2008-01-01  Costa Atlantica   0.00
3  2008-01-01            Valle   0.00
4  2008-01-01           Centro   0.00

In [92]:
demand_power_df.shape

(32144, 5)

In [93]:
ens_df.shape

(34929, 3)

In [94]:
demand_power_df.set_index('Date','Region')
demand_power_df =demand_power_df[['Date','Region','Energy Demand', 'Maximum demand']]
demand_power_df.set_index(['Date','Region'])

                            Energy Demand  Maximum demand
Date       Region
2008-01-01 Antioquia          19934753.28         6543000
           CQR                 4939020.28         6543000
           Centro             23350632.27         6543000
           Costa Atlantica    23636908.26         6543000
           Oriente            10794188.43         6543000
...                                   ...             ...
2018-12-31 Costa Atlantica    39614098.11         8447000
           Oriente            17150797.87         8447000
           Sur                 4809792.14         8447000
           THC                 7485992.13         8447000
           Valle               9540054.31         8447000

[32144 rows x 2 columns]

In [96]:
ens_df.columns = ['Date','Region','ENS']

In [97]:
ens_df.set_index(['Date','Region'])

                              ENS
Date       Region
2008-01-01 THC              13.76
           Sur              12.90
           Costa Atlantica   0.00
           Valle             0.00
           Centro            0.00
...                           ...
2019-10-19 Centro            0.00
           CQR               0.00
           Oriente           0.00
           Antioquia         0.00
           Otros             0.00

[34929 rows x 1 columns]

In [98]:
demand_ens_df = pd.DataFrame ()
demand_ens_df = pd.merge(demand_power_df, ens_df, how="left", left_on = ["Date","Region"], right_on=["Date","Region"])#.drop(columns=['Operator','Código Distribuidor','Version'])
#demand_ens_df = demand_ens_df [['Date','Region','Demand', 'Demanda Máxima de Potenca kW']] #left_index = True,
#demand_ens_df.columns = ['Date','Region','Energy Demand', 'Maximum demand']
#demand_ens_df.head()

In [99]:
demand_ens_df.shape

(32144, 5)

In [100]:
from numpy import *
where_are_NaNs = isnan(demand_ens_df['ENS'])
demand_ens_df['ENS'][where_are_NaNs] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
demand_ens_df.head(100)

          Date           Region  Energy Demand  Maximum demand    ENS
0   2008-01-01        Antioquia    19934753.28         6543000   0.00
1   2008-01-01              CQR     4939020.28         6543000   0.00
2   2008-01-01           Centro    23350632.27         6543000   0.00
3   2008-01-01  Costa Atlantica    23636908.26         6543000   0.00
4   2008-01-01          Oriente    10794188.43         6543000   0.00
5   2008-01-01              Sur     3838303.53         6543000  12.90
6   2008-01-01              THC     4785347.59         6543000  13.76
7   2008-01-01            Valle     7591686.81         6543000   0.00
8   2008-01-02        Antioquia    25503208.08         8042000   0.00
9   2008-01-02              CQR     6039840.67         8042000   0.00
10  2008-01-02           Centro    30741908.19         8042000   0.00
11  2008-01-02  Costa Atlantica    25527208.40         8042000   0.00
12  2008-01-02          Oriente    12846640.89         8042000   0.00
13  2008-01-02              Sur     4099254.52         8042000  30.20
14  2008-01-02              THC     5238432.66         8042000   5.50
15  2008-01-02            Valle    10450846.69         8042000   0.00
16  2008-01-03        Antioquia    26650538.37         8305000   0.00
17  2008-01-03              CQR     6476480.84         8305000   0.00
18  2008-01-03           Centro    32932838.36         8305000   0.00
19  2008-01-03  Costa Atlantica    25210495.62         8305000   1.30
20  2008-01-03          Oriente    13836298.60         8305000   0.00
21  2008-01-03              Sur     4214299.79         8305000  13.78
22  2008-01-03              THC     5492263.73         8305000  19.84
23  2008-01-03            Valle    11109762.24         8305000   0.00
24  2008-01-04        Antioquia    26947028.39         8237000   0.00
25  2008-01-04              CQR     6516292.86         8237000   0.00
26  2008-01-04           Centro    33350593.67         8237000   0.00
27  2008-01-04  Costa Atlantica    25687825.33         8237000   0.00
28  2008-01-04          Oriente    13902845.43         8237000   0.00
29  2008-01-04              Sur     4244116.10         8237000  20.30
30  2008-01-04              THC     5700781.48         8237000  21.40
31  2008-01-04            Valle    11253356.15         8237000   0.00
32  2008-01-05        Antioquia    25935570.09         7865000   0.00
33  2008-01-05              CQR     6341327.58         7865000   0.00
34  2008-01-05           Centro    31536534.16         7865000   0.00
35  2008-01-05  Costa Atlantica    25373089.18         7865000   0.00
36  2008-01-05          Oriente    13577742.10         7865000   0.00
37  2008-01-05              Sur     4210176.30         7865000   0.00
38  2008-01-05              THC     5555715.13         7865000   5.95
39  2008-01-05            Valle    10530409.21         7865000   0.00
40  2008-01-06        Antioquia    22548195.88         7090000   0.00
41  2008-01-06              CQR     5641478.23         7090000   0.00
42  2008-01-06           Centro    27741553.83         7090000   0.00
43  2008-01-06  Costa Atlantica    23947646.47         7090000   0.00
44  2008-01-06          Oriente    12484860.73         7090000   0.00
45  2008-01-06              Sur     3921953.21         7090000   0.00
46  2008-01-06              THC     5072492.63         7090000   1.87
47  2008-01-06            Valle     9051320.76         7090000   0.00
48  2008-01-07        Antioquia    22358466.91         7276000   0.00
49  2008-01-07              CQR     5779992.05         7276000   0.00
50  2008-01-07           Centro    27815009.88         7276000   0.00
51  2008-01-07  Costa Atlantica    23965991.40         7276000   0.00
52  2008-01-07          Oriente    12903825.17         7276000   0.00
53  2008-01-07              Sur     3997555.28         7276000   0.00
54  2008-01-07              THC     5004332.60         7276000   5.41
55  2008-01-07            Valle     9211827.86         7276000   0.00
56  2008-01-08        Antioquia    26898623.71         8204000   0.00
57  2008-01-08              CQR     6405929.33         8204000   0.00
58  2008-01-08           Centro    34305842.22         8204000   0.00
59  2008-01-08  Costa Atlantica    26314444.07         8204000   4.25
60  2008-01-08          Oriente    13655303.44         8204000   0.00
61  2008-01-08              Sur     4273339.55         8204000   1.13
62  2008-01-08              THC     5433689.10         8204000  16.04
63  2008-01-08            Valle    11793888.48         8204000   0.00
64  2008-01-09        Antioquia    27323805.76         8199000   0.00
65  2008-01-09              CQR     6361825.82         8199000   0.00
66  2008-01-09           Centro    35145162.69         8199000   0.00
67  2008-01-09  Costa Atlantica    26388489.25         8199000  47.74
68  2008-01-09          Oriente    13687321.26         8199000   0.00
69  2008-01-09              Sur     3378151.06         8199000   0.00
70  2008-01-09              THC     5279375.28         8199000  33.53
71  2008-01-09            Valle    11606865.88         8199000   5.30
72  2008-01-10        Antioquia    27448626.95         8047000   0.00
73  2008-01-10              CQR     6409551.03         8047000   0.00
74  2008-01-10           Centro    35328677.52         8047000   0.00
75  2008-01-10  Costa Atlantica    26336607.70         8047000  18.67
76  2008-01-10          Oriente    13238210.03         8047000   0.00
77  2008-01-10              Sur     4436966.10         8047000   0.00
78  2008-01-10              THC     5343600.94         8047000  11.28
79  2008-01-10            Valle    11700922.66         8047000   0.00
80  2008-01-11        Antioquia    27635815.18         8138000   0.00
81  2008-01-11              CQR     6406375.04         8138000   0.00
82  2008-01-11           Centro    35841475.89         8138000   0.00
83  2008-01-11  Costa Atlantica    26358749.11         8138000   0.00
84  2008-01-11          Oriente    13724567.88         8138000   0.00
85  2008-01-11              Sur     4422621.76         8138000   2.50
86  2008-01-11              THC     5594852.39         8138000  10.04
87  2008-01-11            Valle    11920888.11         8138000   0.00
88  2008-01-12        Antioquia    25819373.21         7770000   0.00
89  2008-01-12              CQR     6182993.95         7770000   0.00
90  2008-01-12           Centro    33271905.47         7770000   0.00
91  2008-01-12  Costa Atlantica    25178461.15         7770000   0.00
92  2008-01-12          Oriente    13333529.77         7770000   0.00
93  2008-01-12              Sur     4317775.00         7770000   0.00
94  2008-01-12              THC     5398532.90         7770000  23.82
95  2008-01-12            Valle    11005926.29         7770000   0.00
96  2008-01-13        Antioquia    22742899.56         7171000   0.00
97  2008-01-13              CQR     5576272.33         7171000   0.00
98  2008-01-13           Centro    28796488.32         7171000  58.35
99  2008-01-13  Costa Atlantica    23612898.32         7171000   0.00

In [108]:
demand_ens_df.columns = ['Date','zone','Energy Demand','Maximum Demand','ENS']

In [115]:
demand_ens_df['Date'] = pd.to_datetime(demand_ens_df ['Date'])

In [132]:
demand_ens_df['UTCTimestamp'] =demand_ens_df.Timestamp.apply(lambda x: datetime.utcfromtimestamp(x))

In [126]:
#Add a column with a time stamp format
from datetime import datetime
dt64 = np.datetime64(dt)
demand_ens_df['Timestamp'] = (demand_ens_df['Date'] - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
demand_ens_df.head(100)

,Date,zone,Energy Demand,Maximum Demand,ENS,Timestamp,UTCTimestamp
0,2008-01-01,Antioquia,19934753.28,6543000,0.00,1.199146e+09,2008-01-01
1,2008-01-01,CQR,4939020.28,6543000,0.00,1.199146e+09,2008-01-01
2,2008-01-01,Centro,23350632.27,6543000,0.00,1.199146e+09,2008-01-01
3,2008-01-01,Costa Atlantica,23636908.26,6543000,0.00,1.199146e+09,2008-01-01
4,2008-01-01,Oriente,10794188.43,6543000,0.00,1.199146e+09,2008-01-01
5,2008-01-01,Sur,3838303.53,6543000,12.90,1.199146e+09,2008-01-01
6,2008-01-01,THC,4785347.59,6543000,13.76,1.199146e+09,2008-01-01
7,2008-01-01,Valle,7591686.81,6543000,0.00,1.199146e+09,2008-01-01
8,2008-01-02,Antioquia,25503208.08,8042000,0.00,1.199232e+09,2008-01-02
9,2008-01-02,CQR,6039840.67,8042000,0.00,1.199232e+09,2008-01-02
10,2008-01-02,Centro,30741908.19,8042000,0.00,1.199232e+09,2008-01-02
11,2008-01-02,Costa Atlantica,25527208.40,8042000,0.00,1.199232e+09,2008-01-02
12,2008-01-02,Oriente,12846640.89,8042000,0.00,1.199232e+09,2008-01-02
13,2008-01-02,Sur,4099254.52,8042000,30.20,1.199232e+09,2008-01-02
14,2008-01-02,THC,5238432.66,8042000,5.50,1.199232e+09,2008-01-02
15,2008-01-02,Valle,10450846.69,8042000,0.00,1.199232e+09,2008-01-02
16,2008-01-03,Antioquia,26650538.37,8305000,0.00,1.199318e+09,2008-01-03
17,2008-01-03,CQR,6476480.84,8305000,0.00,1.199318e+09,2008-01-03
18,2008-01-03,Centro,32932838.36,8305000,0.00,1.199318e+09,2008-01-03
19,2008-01-03,Costa Atlantica,25210495.62,8305000,1.30,1.199318e+09,2008-01-03
20,2008-01-03,Oriente,13836298.60,8305000,0.00,1.199318e+09,2008-01-03
21,2008-01-03,Sur,4214299.79,8305000,13.78,1.199318e+09,2008-01-03
22,2008-01-03,THC,5492263.73,8305000,19.84,1.199318e+09,2008-01-03
23,2008-01-03,Valle,11109762.24,8305000,0.00,1.199318e+09,2008-01-03
24,2008-01-04,Antioquia,26947028.39,8237000,0.00,1.199405e+09,2008-01-04
25,2008-01-04,CQR,6516292.86,8237000,0.00,1.199405e+09,2008-01-04
26,2008-01-04,Centro,33350593.67,8237000,0.00,1.199405e+09,2008-01-04
27,2008-01-04,Costa Atlantica,25687825.33,8237000,0.00,1.199405e+09,2008-01-04
28,2008-01-04,Oriente,13902845.43,8237000,0.00,1.199405e+09,2008-01-04
29,2008-01-04,Sur,4244116.10,8237000,20.30,1.199405e+09,2008-01-04
30,2008-01-04,THC,5700781.48,8237000,21.40,1.199405e+09,2008-01-04
31,2008-01-04,Valle,11253356.15,8237000,0.00,1.199405e+09,2008-01-04
32,2008-01-05,Antioquia,25935570.09,7865000,0.00,1.199491e+09,2008-01-05
33,2008-01-05,CQR,6341327.58,7865000,0.00,1.199491e+09,2008-01-05
34,2008-01-05,Centro,31536534.16,7865000,0.00,1.199491e+09,2008-01-05
35,2008-01-05,Costa Atlantica,25373089.18,7865000,0.00,1.199491e+09,2008-01-05
36,2008-01-05,Oriente,13577742.10,7865000,0.00,1.199491e+09,2008-01-05
37,2008-01-05,Sur,4210176.30,7865000,0.00,1.199491e+09,2008-01-05
38,2008-01-05,THC,5555715.13,7865000,5.95,1.199491e+09,2008-01-05
39,2008-01-05,Valle,10530409.21,7865000,0.00,1.199491e+09,2008-01-05
40,2008-01-06,Antioquia,22548195.88,7090000,0.00,1.199578e+09,2008-01-06
41,2008-01-06,CQR,5641478.23,7090000,0.00,1.199578e+09,2008-01-06
42,2008-01-06,Centro,27741553.83,7090000,0.00,1.199578e+09,2008-01-06
43,2008-01-06,Costa Atlantica,23947646.47,7090000,0.00,1.199578e+09,2008-01-06
44,2008-01-06,Oriente,12484860.73,7090000,0.00,1.199578e+09,2008-01-06
45,2008-01-06,Sur,3921953.21,7090000,0.00,1.199578e+09,2008-01-06
46,2008-01-06,THC,5072492.63,7090000,1.87,1.199578e+09,2008-01-06
47,2008-01-06,Valle,9051320.76,7090000,0.00,1.199578e+09,2008-01-06
48,2008-01-07,Antioquia,22358466.91,7276000,0.00,1.199664e+09,2008-01-07
49,2008-01-07,CQR,5779992.05,7276000,0.00,1.199664e+09,2008-01-07
50,2008-01-07,Centro,27815009.88,7276000,0.00,1.199664e+09,2008-01-07
51,2008-01-07,Costa Atlantica,23965991.40,7276000,0.00,1.199664e+09,2008-01-07
52,2008-01-07,Oriente,12903825.17,7276000,0.00,1.199664e+09,2008-01-07
53,2008-01-07,Sur,3997555.28,7276000,0.00,1.199664e+09,2008-01-07
54,2008-01-07,THC,5004332.60,7276000,5.41,1.199664e+09,2008-01-07
55,2008-01-07,Valle,9211827.86,7276000,0.00,1.199664e+09,2008-01-07
56,2008-01-08,Antioquia,26898623.71,8204000,0.00,1.199750e+09,2008-01-08
57,2008-01-08,CQR,6405929.33,8204000,0.00,1.199750e+09,2008-01-08
58,2008-01-08,Centro,34305842.22,8204000,0.00,1.199750e+09,2008-01-08
59,2008-01-08,Costa Atlantica,26314444.07,8204000,4.25,1.199750e+09,2008-01-08
60,2008-01-08,Oriente,13655303.44,8204000,0.00,1.199750e+09,2008-01-08
61,2008-01-08,Sur,4273339.55,8204000,1.13,1.199750e+09,2008-01-08
62,2008-01-08,THC,5433689.10,8204000,16.04,1.199750e+09,2008-01-08
63,2008-01-08,Valle,11793888.48,8204000,0.00,1.199750e+09,2008-01-08
64,2008-01-09,Antioquia,27323805.76,8199000,0.00,1.199837e+09,2008-01-09
65,2008-01-09,CQR,6361825.82,8199000,0.00,1.199837e+09,2008-01-09
66,2008-01-09,Centro,35145162.69,8199000,0.00,1.199837e+09,2008-01-09
67,2008-01-09,Costa Atlantica,26388489.25,8199000,47.74,1.199837e+09,2008-01-09
68,2008-01-09,Oriente,13687321.26,8199000,0.00,1.199837e+09,2008-01-09
69,2008-01-09,Sur,3378151.06,8199000,0.00,1.199837e+09,2008-01-09
70,2008-01-09,THC,5279375.28,8199000,33.53,1.199837e+09,2008-01-09
71,2008-01-09,Valle,11606865.88,8199000,5.30,1.199837e+09,2008-01-09
72,2008-01-10,Antioquia,27448626.95,8047000,0.00,1.199923e+09,2008-01-10
73,2008-01-10,CQR,6409551.03,8047000,0.00,1.199923e+09,2008-01-10
74,2008-01-10,Centro,35328677.52,8047000,0.00,1.199923e+09,2008-01-10
75,2008-01-10,Costa Atlantica,26336607.70,8047000,18.67,1.199923e+09,2008-01-10
76,2008-01-10,Oriente,13238210.03,8047000,0.00,1.199923e+09,2008-01-10
77,2008-01-10,Sur,4436966.10,8047000,0.00,1.199923e+09,2008-01-10
78,2008-01-10,THC,5343600.94,8047000,11.28,1.199923e+09,2008-01-10
79,2008-01-10,Valle,11700922.66,8047000,0.00,1.199923e+09,2008-01-10
80,2008-01-11,Antioquia,27635815.18,8138000,0.00,1.200010e+09,2008-01-11
81,2008-01-11,CQR,6406375.04,8138000,0.00,1.200010e+09,2008-01-11
82,2008-01-11,Centro,35841475.89,8138000,0.00,1.200010e+09,2008-01-11
83,2008-01-11,Costa Atlantica,26358749.11,8138000,0.00,1.200010e+09,2008-01-11
84,2008-01-11,Oriente,13724567.88,8138000,0.00,1.200010e+09,2008-01-11
85,2008-01-11,Sur,4422621.76,8138000,2.50,1.200010e+09,2008-01-11
86,2008-01-11,THC,5594852.39,8138000,10.04,1.200010e+09,2008-01-11
87,2008-01-11,Valle,11920888.11,8138000,0.00,1.200010e+09,2008-01-11
88,2008-01-12,Antioquia,25819373.21,7770000,0.00,1.200096e+09,2008-01-12
89,2008-01-12,CQR,6182993.95,7770000,0.00,1.200096e+09,2008-01-12
90,2008-01-12,Centro,33271905.47,7770000,0.00,1.200096e+09,2008-01-12
91,2008-01-12,Costa Atlantica,25178461.15,7770000,0.00,1.200096e+09,2008-01-12
92,2008-01-12,Oriente,13333529.77,7770000,0.00,1.200096e+09,2008-01-12
93,2008-01-12,Sur,4317775.00,7770000,0.00,1.200096e+09,2008-01-12
94,2008-01-12,THC,5398532.90,7770000,23.82,1.200096e+09,2008-01-12
95,2008-01-12,Valle,11005926.29,7770000,0.00,1.200096e+09,2008-01-12
96,2008-01-13,Antioquia,22742899.56,7171000,0.00,1.200182e+09,2008-01-13
97,2008-01-13,CQR,5576272.33,7171000,0.00,1.200182e+09,2008-01-13
98,2008-01-13,Centro,28796488.32,7171000,58.35,1.200182e+09,2008-01-13
99,2008-01-13,Costa Atlantica,23612898.32,7171000,0.00,1.200182e+09,2008-01-13

In [134]:
demand_ens_df.dtypes

Date              datetime64[ns]
zone                      object
Energy Demand            float64
Maximum Demand             int64
ENS                      float64
Timestamp                float64
UTCTimestamp      datetime64[ns]
dtype: object

In [135]:
demand_ens_df.to_csv(r'demand_ens.csv')