# Oil and Gas Visualization/Dashboard

### Import required libraries

In [2]:
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.offline as pyo
import cufflinks as cf

ImportError:
The plotly.plotly module is deprecated,
please install the chart-studio package and use the
chart_studio.plotly module instead.

### Import New York State dataset

In [3]:
df = pd.read_csv('demand_ens2.csv')
df.shape

(32144, 9)

In [7]:
df

,Date,zone,Energy Demand,Maximum Demand,ENS,Timestamp,longitud,latitud
0,2008-01-01,Antioquia,19934753.28,6543000,0.00,1.199146e+09,-75.520020,6.817353
1,2008-01-01,CQR,4939020.28,6543000,0.00,1.199146e+09,-75.728760,5.069058
2,2008-01-01,Centro,23350632.27,6543000,0.00,1.199146e+09,-72.905273,3.316018
3,2008-01-01,Costa Atlantica,23636908.26,6543000,0.00,1.199146e+09,-73.762207,10.509417
4,2008-01-01,Oriente,10794188.43,6543000,0.00,1.199146e+09,-72.531738,6.249776
...,...,...,...,...,...,...,...,...
32139,2018-12-31,Costa Atlantica,39614098.11,8447000,27.98,1.546214e+09,-73.762207,10.509417
32140,2018-12-31,Oriente,17150797.87,8447000,0.00,1.546214e+09,-72.531738,6.249776
32141,2018-12-31,Sur,4809792.14,8447000,0.00,1.546214e+09,-77.656860,1.653213
32142,2018-12-31,THC,7485992.13,8447000,0.00,1.546214e+09,-75.234375,1.592812
32143,2018-12-31,Valle,9540054.31,8447000,0.00,1.546214e+09,-76.442871,3.650482

In [8]:
df['ENS_']=df[['ENS']]

In [9]:
df

,Date,zone,Energy Demand,Maximum Demand,ENS,Timestamp,longitud,latitud,ENS_
0,2008-01-01,Antioquia,19934753.28,6543000,0.00,1.199146e+09,-75.520020,6.817353,0.00
1,2008-01-01,CQR,4939020.28,6543000,0.00,1.199146e+09,-75.728760,5.069058,0.00
2,2008-01-01,Centro,23350632.27,6543000,0.00,1.199146e+09,-72.905273,3.316018,0.00
3,2008-01-01,Costa Atlantica,23636908.26,6543000,0.00,1.199146e+09,-73.762207,10.509417,0.00
4,2008-01-01,Oriente,10794188.43,6543000,0.00,1.199146e+09,-72.531738,6.249776,0.00
...,...,...,...,...,...,...,...,...,...
32139,2018-12-31,Costa Atlantica,39614098.11,8447000,27.98,1.546214e+09,-73.762207,10.509417,27.98
32140,2018-12-31,Oriente,17150797.87,8447000,0.00,1.546214e+09,-72.531738,6.249776,0.00
32141,2018-12-31,Sur,4809792.14,8447000,0.00,1.546214e+09,-77.656860,1.653213,0.00
32142,2018-12-31,THC,7485992.13,8447000,0.00,1.546214e+09,-75.234375,1.592812,0.00
32143,2018-12-31,Valle,9540054.31,8447000,0.00,1.546214e+09,-76.442871,3.650482,0.00

In [10]:
df.to_csv('demand_test.csv')

### Make scattermapbox map

In [65]:
types = dict(
    BR = 'Brine',
    Confidential = 'Confidential',
    DH = 'Dry Hole',
    DS = 'Disposal',
    DW = 'Dry Wildcat',
    GD = 'Gas Development',
    GE = 'Gas Extension',
    GW = 'Gas Wildcat',
    IG = 'Gas Injection Well',
    IW = 'Enhanced Oil Recovery - Injection',
    LP = 'Liquefied Petroleum Gas Storage',
    MB = 'Monitoring Brine',
    MM = 'Monitoring Miscellaneous',
    MS = 'Monitoring Storage',
    NL = 'Not Listed',
    OB = 'Observation Well',
    OD = 'Oil Development',
    OE = 'Oil Extension',
    OW = 'Oil Wildcat',
    SG = 'Stratigraphic',
    ST = 'Storage',
    TH = 'Geothermal',
    UN = 'Unknown',
)

traces = []
for well, df in df.groupby('Well_Type'):
    trace = dict(
        type = 'scattermapbox',
        lon = df['Surface_Longitude'],
        lat = df['Surface_latitude'],
        text = df['Well_Name'],
        name = types[well],
        marker = dict(
            size = 4,
            opacity = 0.6,
        )
    )
    traces.append(trace)

# trace = dict(
#     type = 'scattermapbox',
#     lon = df['Surface_Longitude'],
#     lat = df['Surface_latitude'],
#     name = df['Well_Name'],
# )

# traces = [trace]

In [66]:
mapbox_access_token = 'pk.eyJ1IjoiamFja2x1byIsImEiOiJjaXhzYTB0bHcwOHNoMnFtOWZ3YWdreDB3In0.pjROwb9_CEuyKPE-x0lRUw'

layout = dict(

    title = "New York Oil and Gas map",

    # GENERAL LAYOUT
    width = 1280,
    height = 720,
    autosize = True,
    font = dict(
        family = "Overpass",
        size = 12,
        color = '#CCCCCC',
    ),
    margin = dict(
        t = 80,
        l = 40,
        b = 40,
        r = 120,
        pad = 0, 
    ),

    # OPTIONAL
    hovermode = "closest",
    
    # COLOR THEME
    plot_bgcolor = "#191A1A",
    paper_bgcolor = "#020202",
    
    # LEGEND
    legend = dict(
        x = 1.02,
        y = 1,
        font = dict(size = 10),
    ),

    # MAPBOX
    mapbox = dict(
        accesstoken = mapbox_access_token,
        style = "dark",
        center = dict(
            lon = -76.40,
            lat = 42.70,
        ),
        zoom = 5.5,
    ),

)

In [68]:
figure = dict(data=traces, layout=layout)
py.plot(figure, filename='Oil map')

'https://plot.ly/~jackluo/3594'